<?xml version="1.0"?>
<model>
  <name>aquabot_regatta_no_obstacles_world</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Sirehna Developer</name>
    <email>contact@sirehna.com</email>
  </author>
  
  <description>
    Aquabot regatta world without obstacles.
  </description>
</model>
